.hero_section {
  background-color: #003145;
  background-image: url(../../../../public/assets/images/svg_icons/PicsArt.svg);
  background-repeat: no-repeat;
  background-position: 85%;

  .section_banner {
    width: 44rem;
    padding: 7.75rem 0 5.8rem;
    margin: 0 3.375rem;
    display: flex;

    .vertical_strip {
      width: 9.71px;
      height: 115.91px;
      background-color: #FFCE5C;
      flex-shrink: 0;
    }

    .banner_content {
      width: 40.25rem;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2.375rem;

      .title {
        font-family: $poppins-font-weight-600;
        font-size: 3rem;
        line-height: 3.5rem;
        color: #FFFFFF;
      }

      .desc {
        width: 33rem;
        font-family: $poppins-font-weight-500;
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: #ECECEC;
      }

      button {
        padding: 0.875rem 1.125rem;
        border-radius: 0.625rem;
        background-color: #FFFFFF;
        font-family: $poppins-font-weight-600;
        font-size: 1.125rem;
        line-height: 1.125rem;
        color: #003145;
      }
    }
  }
}

.statistics_section {
  background-color: #002A3B;

  .section_content {
    padding: 4.5rem 5.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content_card {
      display: flex;
      align-items: center;
      gap: 1.375rem;

      .card_text {
        color: #FFFFFF;

        .count {
          font-family: $inter-font-weight-700;
          font-size: 1.5rem;
          line-height: 1.25rem;
          margin-top: 0.4rem;
          margin-bottom: 0.5rem;
        }

        .title {
          font-family: $inter-font-weight-500;
          font-size: 1rem;
          line-height: 1.25rem;
        }
      }
    }

    .vertical_strip {
      width: 1px;
      height: 38px;
      background-color: #C4C4C4;
      flex-shrink: 0;
    }
  }
}

.features_section {
  background-color: #FFFFFF;
  margin: 5.625rem 0 7.8125rem;

  .section_content {
    padding: 0 4.375rem;

    .content_title {
      font-family: $poppins-font-weight-600;
      font-size: 2rem;
      line-height: 1.25rem;
      text-align: center;
      margin-bottom: 4.5rem;

      span {
        color: #44924C;
      }
    }

    .content_grid {
      display: grid;
      grid-template-columns: 33.875rem 33.875rem;
      gap: 2.25rem;

      .grid_card {
        background-color: #F8F9FD;
        padding: 3.875rem 1.875rem;
        border-radius: 1.25rem;

        .title {
          font-family: $poppins-font-weight-600;
          font-size: 1.5rem;
          line-height: 3.125rem;
          letter-spacing: -0.03rem;
        }

        .desc {
          font-family: $poppins-font-weight-500;
          font-size: 1rem;
          line-height: 1.5rem;
          letter-spacing: -0.02rem;
          color: #64607D;
        }
      }
    }
  }
}